.article-content a {
    border-bottom: 2px solid #9d81ba;
    box-shadow: none;
}

.article-content a:hover,
.article-content a:focus {
    background: #cdb1ea;
}

pre > code {
    font-size: 0.8em;
}

.nav-link {
  float: left;
  margin: -4px 0 0 0;
  transition: transform 150ms ease-out;
}

.nav-link:hover {
  transform: scale(1.1);
}

img.nav-link {
  display: block;
  height: 30px;
  width: auto;
  border-radius: 50%;
}

.nav-title {
    float: left;
    margin-left: 6px;
    text-decoration: none;
    color: #111;
    font-size: 14px;
}

@media (min-width: 600px) {
    .nav-title {
        font-size: 18px;
        margin-left: 14px;
    }
  .nav-links li {
      max-height: 8px;
      margin: 0 0 0 14px;
  }

  .nav-link {
      margin: -20px 0 0 0;
  }
  img.nav-link {
    height: 44px;
  }
}

@media (min-width: 700px) {
    .nav-title {
        margin-left: 36px;
    }
}

/* hide title on iphone */
@media (max-width: 415px) {
    .nav-title {
        visibility: hidden; /* hide it */
        margin-left: -400px; /* move off the screen to make space for menu */
    }
}
